@font-face {
    font-family: "Zi Yue Song Ke Ben";
    font-style: normal;
    font-weight: 400;
    src: url("../font/ziyuesongkeben.subset.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Adobe Kaiti Std";
    font-style: normal;
    font-weight: 400;
    src: local("Adobe Kaiti Std"), url("../font/adobekaitistd.otf") format("opentype");
}