.App {
    text-align: center;
    font-family: "Zi Yue Song Ke Ben", "Adobe Kaiti Std";
}

.AppBody {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

/* .Content {
    writing-mode: vertical-rl;
    text-orientation: upright;
    white-space: pre-wrap;
    line-height: 2rem;
    height: 20em;
    font-size: 2rem;
    text-align: start;
    width: "100%";
    overflow: "scroll";
} */

@font-face {
    font-family: "Zi Yue Song Ke Ben";
    font-style: normal;
    font-weight: 400;
    src: url("/font/ZiYueSongKeBen.ttf") format("truetype");
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
